.wholepage {
    width: 100%;
    height: 100%;
}


.footer {
    background-color: #396e38;
    color: #080707;
    text-align: center;
    padding: 18px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer p {
    margin: 0;
    font-size: 0.9em;
}
